@model Ecommerce.Models.UserProfileViewModel

@{
    ViewBag.MainTitle = "Users";
}

@using (Html.BeginForm("Edit", "AdminUser", FormMethod.Post, new { area="Admin", id = "frmEdit", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.TokenKey)

    <h4 class="mb-xlg">Personal Information</h4>
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                <div class="radio-button">
                    @foreach (SelectListItem options in Model.genderList)
                    {
                        @Html.RadioButtonFor(m => m.Gender, options.Value)
                        @Html.Label(options.Text)
                    }
                </div>
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.BirthDate, "{0:MM'/'dd'/'yyyy}", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*</fieldset>
    <hr class="dotted tall">
    <h4 class="mb-xlg">Contact Information</h4>
    <fieldset>*@
        <div class="form-group">
            @Html.LabelFor(m => m.EMail, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.EMail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(m => m.Mobile, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*</fieldset>
    <hr class="dotted tall">
    <h4 class="mb-xlg">Address</h4>
    <fieldset>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.Pincode, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </fieldset>
    <hr class="dotted tall">
    <h4 class="mb-xlg">Profile Image</h4>
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.ProfileImageUpload, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ProfileImageUpload, new { @Type = "file", @accept = "image/gif, image/jpeg,image/png" })
                @Html.ValidationMessageFor(m => m.ProfileImageUpload, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <img id="imgProfileImageEdit" style="height:100px;width:100px;" src="@Url.Action("GetUserImage", "User", new { area ="Admin", tkn = Model.TokenKey })" />
            </div>
        </div>
    </fieldset>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <button id="btnSave" type="button" class="btn btn-primary">Update</button>
                @*<button type="reset" class="btn btn-default">Reset</button>*@
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#ProfileImageUpload").change(function () {
            readURL(this, $('#imgProfileImageEdit'));
        });

        $('#BirthDate').datepicker({
            dateFormat: 'mm/dd/yy'
        });

        $(document).on("click", "#btnSave", function (e) {
            if ($("#frmEdit").valid()) {
                var formData = new FormData($("#frmEdit")[0]);
                var url = "/Admin/User/Edit";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        var result = JSON.parse(data);
                        if (result.isSuccess == "True") {
                            toastr.success(result.message);
                        }
                        else {
                            toastr.error(result.message);
                        }
                        window.location.reload(true);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        });
    });
</script>
<script src="~/Scripts/CustomJavascripts/Common.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

