@model Ecommerce.Models.LeftSideBarViewModel

<aside class="col-md-3 col-sm-4 has_mega_menu">

    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

    <section class="section_offset">

        <h3>Categories</h3>

        <ul class="theme_menu cats">
            @foreach (var category in Model.categoryList)
            {
                <li class="has_megamenu">
                    <a href="@Url.Action("Index", "Product", new { categoryid = category.CategoryId})">@category.CategoryName</a>
                </li>
             }
            </ul>



    </section><!--/ .animated.transparent-->
    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->
    @*@{
        var qprice = string.IsNullOrEmpty(Request.QueryString["price"]) ? "0,10000" : Request.QueryString["price"].ToString();
        var qbrand = string.IsNullOrEmpty(Request.QueryString["brand"]) ? "" : Request.QueryString["brand"].ToString();
    }*@
    @*<section class="section_offset">

        <h3>Filter</h3>

        <form class="type_2">

            <div class="table_layout list_view">

                <div class="table_row">
                     - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - 
                    @{
                        var qBrand = qbrand.Split(',');
                        if (Model.BrandList.Count > 0)
                        {
                            <div class="table_cell">

                                <fieldset>

                                    <legend>Brand</legend>

                                    <ul class="checkboxes_list">
                                        @foreach (var brand in Model.BrandList)
                                        {
                                            <li>
                                                <input type="checkbox" class="chkBrand" name="SelectedGroups" id="@brand.BrandId" value="@brand.BrandId" @if (qBrand.Contains(brand.BrandId.ToString())) { <text> checked='checked' </text>      } />
                                                <label for="@brand.BrandId">@brand.BrandName</label>
                                            </li>
                                        }

                                    </ul>

                                </fieldset>

                            </div>/ .table_cell 
                        }
                    }
                     - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - 
                     - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - 

                    <div class="table_cell">

                        <fieldset>

                            <legend>Price</legend>

                            <div class="range">
                                @{
                                    var qPrice = qprice.Split(',');
                                }
                                Range :
                                <input type="hidden" id="minval" value="@qPrice[0]" />
                                <input type="hidden" id="maxval" value="@qPrice[1]" />
                                <span class="min_val"></span> -
                                <span class="max_val"></span>

                                <input type="hidden" name="" class="min_value">

                                <input type="hidden" name="" class="max_value">

                            </div>

                            <div id="slider"></div>

                        </fieldset>

                    </div>/ .table_cell 
                     - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - 
                     - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - 
                     - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - 

                </div>/ .table_row 

            </div>/ .table_layout 

            <footer class="bottom_box">

                <div class="buttons_row">

                    <button id="filter" type="submit" class="button_blue middle_btn">Search</button>

                    <button id="clearfilter" type="reset" class="button_grey middle_btn filter_reset">Reset</button>

                </div>

            </footer>

        </form>

    </section>*@

    <!-- - - - - - - - - - - - - - End of filter - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

    @*<div class="section_offset">

        <a href="#" class="banner">

            <img src="~/Content/Images/gift.jpg" alt="">

        </a>

    </div>*@

   

    

    <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

</aside>

<script>
    $(document).ready(function (e) {

        $('#filter').click(function (e) {
            e.preventDefault();
            var currentUrl = window.location.href.split('&');
            var queryString = "";

            var price = $.trim($('.min_value').val()) + "," + $.trim($('.max_value').val());
            queryString = queryString + "&price=" + price;

            var brand = "";
            $('.chkBrand').each(function () {
                if ($(this).is(":checked")) {
                    brand = brand + "," + $(this).val();
                }
            });
            if (brand != "") {
                queryString = queryString + "&brand=" + brand.substring(1);
            }

            window.location = currentUrl[0] + queryString;
        });

        $('#clearfilter').click(function (e) {
            e.preventDefault();
            var currentUrl = window.location.href.split('&');
            window.location = currentUrl[0];
        });
    });
</script>